/*INÍCIO-Estilos iniciais*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mouse Memoirs', sans-serif;
    background-color: bisque;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

/*FIM-Estilos iniciais*/

.container-main {
    border-radius: 5px;
    width: 800px;
    text-align: center;
    margin: 1rem;
}

.title-app {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-right: 30px;
    color: rgb(32, 31, 31);
}

.input-btn-container {
    display: flex;
    justify-content: center;
    text-align: center;
}

.input-task {
    font-family: 'Mouse Memoirs', sans-serif;
    font-size: 1.7rem;
    padding: 0.2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    width: 50%;
    color: rgb(32, 31, 31);
}

.btn-task {
    border: none;
    background-color: bisque;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}

.icon-btn {

    font-size: 3rem;
    width: 1rem;
    cursor: pointer;
    color: rgb(51, 197, 51);
}

.list-task {
    list-style: none;
}

/*INÍCIO-Estilos Dinâmicos*/
/*Container das li's*/
.todo {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding: 0.5rem;
}

/*li's*/
.todo-list {
    font-size: 2rem;
    font-weight: bold;
}

/*Botões de riscar e eliminar*/
btn-todo-remove {
    border: none;
    background-color: bisque;
    color: bisque;
    font-weight: bold;
    margin-left: 0.5rem;
}

.icon-btn-trash {
    font-size: 1.4rem;
    width: 1.5rem;
    margin-top: 0.4rem;
    color: rgb(236, 45, 45);
    cursor: pointer;
}

button {
    background-color: bisque;
    border: none;
    margin-left: 50%;
}



/*FIM-Estilos Dinâmicos*/